.login-wrapper {
  padding: 40px;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login-left-container {
  display: flex;
  place-items: center;
  background-color: #fb7857;
  border-radius: 30px;
  height: 100%;
}
.login-left-container img {
  object-fit: cover;
  margin: auto;
  width: 100%;
}

.login-right-container-logo {
  margin-top: 20px;
}
.login-right-container {
  position: relative;
}
.login-form-wrapper {
  margin: 80px auto 0;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-form-wrapper p {
  font-size: 44px;
  color: #353535;
  font-weight: 600;
}
.login-form input {
  padding-left: 20px;
  border-radius: 20px;
  height: 40px;
  width: calc(100% - 20px);
  border: 1px solid #e0e0e0;
}
.password {
  position: relative;
}
.password-hide-icon {
  position: absolute;
  right: 30px;
  top: 9px;
}

.submit-btn {
  cursor: pointer;
  margin-top: 10px;
}

.login-msg {
  margin-top: 20px;
  text-align: center;
}
.login-msg p {
  font-size: 16px;
  font-weight: 400;
  color: #98a2b3;
}
.login-msg span {
  font-weight: 600;
  cursor: pointer;
  color: #fb7857;
}

@media (max-width: 767px) {
  .login-left-container {
    display: none;
  }
  .login-wrapper {
    grid-template-columns: 1fr;
  }
  .login-form-wrapper {
    position: static;
    margin-top: 40px;
  }
}
